{
    "swagger": "2.0",
    "info": {
        "description": "Документация по задаче #2 команды \"Just do it\" участника хакатона leaders2023.innoagency.ru\n\nВ API реализована JWT токен OAuth 2.0 модель авторизации, с коротко-живущим ключом access_token и долгоживущим ключом refresh_token\n\nАвторизация через header «Authorization: Bearer some_jwt_token»\n\nПредставитель бизнеса:\nlogin: user\npwd: 123321\n\nПредставитель КНО:\nlogin: kno\npwd: 123321",
        "title": "Hack2023",
        "contact": {},
        "version": "1.0"
    },
    "host": "hack.torbeno.ru",
    "basePath": "/api",
    "paths": {
        "/v1/button": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список кнопок чата",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список кнопок чата",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Button"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/chat": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список сообщения чат-бота текущего пользователя",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список сообщения чат-бота текущего пользователя",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Message"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "отправить сообщение чат-боту и получить ответ",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "отправить сообщение чат-боту и получить ответ",
                "parameters": [
                    {
                        "minLength": 1,
                        "type": "string",
                        "description": "текст сообщения",
                        "name": "text",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/model.Message"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/consultation": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список активных и завершенных консультаций",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список активных и завершенных консультаций",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Consultations"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "записаться на консультацию",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "записаться на консультацию",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "id надзорного органа",
                        "name": "nadzor_organ_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "id типа контроля",
                        "name": "control_type_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "id темы консультации",
                        "name": "consult_topic_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "id слота с временем и датой консультации",
                        "name": "slot_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "время в формате '03:00'",
                        "name": "time",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "дата в формате '2006-02-01'",
                        "name": "date",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "вопрос в свободной форме",
                        "name": "question",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "нужно ли письменное разъяснение",
                        "name": "is_need_letter",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Consultation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Отменить запись на консультацию",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "Отменить запись на консультацию",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "id консультации которую нужно отменить",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Consultation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Добавление письменного ответа со стороны КНО",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "Добавление письменного ответа со стороны КНО",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "id консультации",
                        "name": "id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Текст письменного ответа на заданный вопрос",
                        "name": "answer",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Consultation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/faq": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список вопросов и ответов",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список вопросов и ответов",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.FAQ"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список вопросов и ответов c фтльтрацией",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список вопросов и ответов c фтльтрацией",
                "parameters": [
                    {
                        "minLength": 3,
                        "type": "string",
                        "description": "ключевые слова для фильтрации списка КНО",
                        "name": "text",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.FAQ"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/login": {
            "post": {
                "description": "Необходим для использования во всех остальных запросах",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Получение токена авторизации",
                "parameters": [
                    {
                        "type": "string",
                        "description": "login",
                        "name": "login",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "password",
                        "name": "password",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.AuthResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/notification": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список уведомлений текущего пользователя",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список уведомлений текущего пользователя",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Notification"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/slot": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список доступных слотов",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список доступных слотов",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Slot"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/token": {
            "post": {
                "description": "Получение токена авторизации по refresh токену",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Получение токена авторизации по refresh токену",
                "parameters": [
                    {
                        "type": "string",
                        "description": "refresh_token",
                        "name": "refresh_token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.AuthResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/typelist": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список надзорных органов, видов контроля, тем консультирования",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список надзорных органов, видов контроля, тем консультирования",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.TypeList"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "список надзорных органов с учетом фильтрации по ключевым словам",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "consultation"
                ],
                "summary": "список надзорных органов с учетом фильтрации по ключевым словам",
                "parameters": [
                    {
                        "minLength": 3,
                        "type": "string",
                        "description": "ключевые слова для фильтрации списка КНО",
                        "name": "text",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.TypeList"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        },
        "/v1/user": {
            "get": {
                "description": "Для представителя КНО есть дополнительные поля, необходимые для сложебных методов: Подтверждение консультации",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Получение данных о текущем авторизованном пользователе",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Account"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            },
            "post": {
                "description": "Необходимо для дальнейшей рассылки push сообщений на телефоны",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Сохранение токена приложения пользователя",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Token"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.Account": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "is_kno": {
                    "type": "boolean"
                },
                "nadzor_organ_id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "model.AuthResponse": {
            "type": "object",
            "properties": {
                "access_token": {
                    "description": "AccessToken",
                    "type": "string"
                },
                "refresh_token": {
                    "description": "RefreshToken",
                    "type": "string"
                }
            }
        },
        "model.Button": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "link": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            }
        },
        "model.ConsultTopic": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "model.Consultation": {
            "type": "object",
            "required": [
                "consult_topic_id",
                "control_type_id",
                "nadzor_organ_id",
                "slot_id",
                "time"
            ],
            "properties": {
                "answer": {
                    "type": "string"
                },
                "consult_topic": {
                    "$ref": "#/definitions/model.ConsultTopic"
                },
                "consult_topic_id": {
                    "type": "integer"
                },
                "control_type": {
                    "$ref": "#/definitions/model.ControlType"
                },
                "control_type_id": {
                    "type": "integer"
                },
                "date": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "is_confirmed": {
                    "type": "boolean"
                },
                "is_deleted": {
                    "type": "boolean"
                },
                "is_need_letter": {
                    "type": "boolean"
                },
                "nadzor_organ": {
                    "$ref": "#/definitions/model.NadzonOrgan"
                },
                "nadzor_organ_id": {
                    "type": "integer"
                },
                "question": {
                    "type": "string"
                },
                "slot_id": {
                    "type": "integer"
                },
                "time": {
                    "type": "string"
                },
                "user": {
                    "$ref": "#/definitions/model.Account"
                },
                "user_id": {
                    "type": "integer"
                },
                "video_link": {
                    "type": "string"
                },
                "vks_link": {
                    "type": "string"
                }
            }
        },
        "model.Consultations": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Consultation"
                    }
                },
                "finished": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Consultation"
                    }
                }
            }
        },
        "model.ControlType": {
            "type": "object",
            "properties": {
                "consult_topics": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.ConsultTopic"
                    }
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "model.FAQ": {
            "type": "object",
            "properties": {
                "answer": {
                    "type": "string"
                },
                "control_type_id": {
                    "type": "integer"
                },
                "date": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "likes": {
                    "type": "integer"
                },
                "nadzor_organ_id": {
                    "type": "integer"
                },
                "question": {
                    "type": "string"
                }
            }
        },
        "model.Message": {
            "type": "object",
            "required": [
                "text"
            ],
            "properties": {
                "date": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "send_by_id": {
                    "type": "integer"
                },
                "text": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "model.NadzonOrgan": {
            "type": "object",
            "properties": {
                "control_types": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.ControlType"
                    }
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "model.Notification": {
            "type": "object",
            "properties": {
                "date": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "model.ResponseError": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                }
            }
        },
        "model.Service": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "model.Slot": {
            "type": "object",
            "properties": {
                "consultation": {
                    "$ref": "#/definitions/model.Consultation"
                },
                "date": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "time": {
                    "type": "string"
                }
            }
        },
        "model.Token": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "token": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "model.TypeList": {
            "type": "object",
            "properties": {
                "nadzor_organs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.NadzonOrgan"
                    }
                },
                "services": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Service"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "description": "Enter the token with the `Bearer ` prefix, e.g. \"Bearer abcde12345\".",
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}